@theme {
  --container-max-width: 37.5rem;
}

@layer base {
  /* 10px = 1rem */
  html {
    font-size: 62.5%;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    text-wrap: nowrap;
  }

  input {
    border: none;
    outline: none;
  }

  a {
    text-decoration: none;
  }

  textarea {
    font: inherit;
    resize: none;
  }
}

@utility fixed-center {
  width: 100%;
  max-width: var(--container-max-width);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
